<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Calenadr</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">New Calendar</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>CalendarId</b>
    </div>
  </div>
</div>

<form action="/addcalendar" method="POST">
  <div class="row form-group mb-4">
    <div class="container">
      <label for="stopDropdown">Select a Service Id:</label>
      <select class="form-select" id="serviceDropdown" name="serviceDropdown">
        <% trips.forEach(trip => { %>
        <option value="<%=  trip.serviceId %>"><%= trip.serviceId %></option>
        <% }); %>
      </select>
    </div>

    <div class="col">
      <label for="status">Day</label>
      <select class="form-select" id="day" name="day" required>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thrusday">Thrusday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Add Calendar</button>
  </div>
</form>
