<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Smart Journey Planner Admin Panel</h1>
</div>

<div class="pt-3">
  <p>
    Welcome to the administrative hub of the Smart Journey Planner, a pivotal
    component of our comprehensive Road Safety Project. This cutting-edge
    application is designed to revolutionize the way we approach travel,
    ensuring not only efficiency but, above all, safety on our roads.
  </p>
  <p>Check out our <a href="http://rs.qau.edu.pk/">Website</a></p>
</div>
