<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Sequence</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">New Sequence</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>SequenceId</b>
    </div>
  </div>
</div>

<form action="/addsequence" method="POST">
  <div class="row form-group mb-4">
    <div class="col">
      <label for="SequenceId">Sequence Id</label>
      <input
        type="text"
        class="form-control"
        id="seqId"
        name="seqId"
        value=""
        placeholder="Sequence Id"
        required
      />
    </div>
    <div class="col">
      <label for="Name"> Sequence Number</label>
      <input
        type="text"
        class="form-control"
        id="seqNumber"
        name="seqNumber"
        value=""
        placeholder="Sequence Number"
        required
      />
    </div>
    <div class="container">
      <label for="stopDropdown">Select a Stop:</label>
      <select class="form-select" id="stopDropdown" name="stopDropdown">
        <% stops.forEach(stop => { %>
        <option value="<%= stop.stopName %>"><%= stop.stopName %></option>
        <% }); %>
      </select>
    </div>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Add Sequence</button>
  </div>
</form>
